body {
    font-size: 0.9rem;
}
/* Barra lateral */
.sidebar-bg {
    background-color: #33a77d; /* #1cc88a, #4caf50 */
    background-image: none;
}

.dropdown-item:active {
    background-color: #33a77d;
}

.nav-link {
    font-weight: bold;
}

.card-header {
    background-color: #33a77d; /* #4caf50 */
    color: #fff;
}

.card-body {
    overflow-x: auto;
}

.login-bg .card-body {
    overflow-x: hidden;
}

.text-info {
    color: #4e73df!important;
}

.btn-primary {
    color: #fff;
    background-color: #33a77d;
    border-color: #33a77d;
}

.btn-primary:hover {
    background-color: #00a76a;
    border-color: #00a76a;
}

.btn-link {
    color: #33a77d;
}

.btn-link:hover {
    color: #00a76a;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #00a76a;
    border-color: #00a76a;
}

.text-primary {
    color: #fff!important;
}

.h3 {
    color: #5a5c69 !important;
    margin-bottom: 1.2rem!important;
    margin-top: 1rem;
}

a {
    color: #33a77d;
}

a:hover {
    color: #00a76a;
}

/* Login */
.login-bg {
    background-color: #cfdbff;
}

.bg-login-image {
    background: url("https://source.unsplash.com/random/450x400");
    background-position: center;
    background-size: cover;
}

.gasto,
.negativo {
    color: #c05858;
}

.ingreso,
.positivo {
    color: #499249;
}

.table {
    white-space: nowrap;
}

/* Borde superior de la cabecera de las tablas */
.table-bt0 thead th,
.table-bt0 thead tr {
    border-top: none;
}

.form-control-user {
    border-radius: 10px!important;
}

.btn-user {
    border-radius: 10px!important;
}

.fichero-transaccion {
    max-width: 100%;
    max-height: 285px;
    display: block;
    margin: 0 auto;
}

.text-muted {
    color: #c8c9d7 !important;
}

.perfil p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.8em;
}

.perfil img {
    width: 95%;
    max-width: 192px;
    margin-bottom: 15px;
}

td:last-child, th:last-child {
    text-align: right;
}

/* Navegación móvil */

/* Para pantallas de hasta... */

@media (max-width: 767px) {
    .border-colored {
        border: 3px solid #33a77d;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 0.75em;
    }    

    .sidebar {
        width: 5.5rem;
    }

    .sidebar .nav-item .collapse {
        left: calc(6rem + 1.5rem / 2);
    }

    .sidebar-heading {
        padding: 0!important;
    }

    .nav-link {
        padding: 0.75rem 0.4rem!important;
        width: 5.5rem!important;
    }

    .container-fluid {
        padding-left: 0.5rem;
        padding-right: 0.5rem;;
    }

    .h3 {
        font-size: 1.2rem;
    }

    .h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.9rem;
    }

    .card-body {
        padding: 0.3rem 0.5rem;
        overflow-x: auto;
    }

    .mb-4 {
        margin: 1rem 0 0 0!important;
    }

    .py-3 {
        padding: 0.5rem 0.5rem!important;
    }

    .form-control {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: .2rem .5rem;
        width: 100%;
    }

    th, td {
        white-space: nowrap;
    }

    .btn-light {
        font-size: 0.8rem;
        padding: .2rem .5rem;
    }

    .btn-primary-light {
        background-color: #fff;
        color: #33a77d;
    }

    canvas#grafica-estado {
        height: 250px!important;
    }

    #userDropdown {
        justify-content: flex-end;
    }
}
